# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/


# =========================
# R
# =========================

.Rhistory
.RData
.Ruserdata
.Rproj.user/


# =========================
# VS Code
# =========================

.vscode/


# =========================
# Operating System
# =========================

.DS_Store
Thumbs.db


# =========================
# Temporary files
# =========================

*.tmp
*.temp
*.log